@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Roboto+Mono:wght@300;400;500;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rubik+Maze&display=swap');


:root {
    --cor-rosa: #F229BD;
    --cor-azul-escuro1: #021F59;
    --cor-azul-escuro2: #021D40;
    --cor-azul-claro: #05C7F2;
    --cor-verde-claro: #05F2DB;
   --font-titulo: 'Rubik Maze', cursive;
   --font-padrao: 'Roboto Mono', monospace;
}

* {
    margin: 0;
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

body {
   
    font-family: var(--font-padrao);
    background-image: url(coding-g9c2583fef_640.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /*background-color: var(--cor-azul-escuro2); */
}

#titulo-principal {
    font-family: var(--font-titulo);
    font-size: 3.5em;
    text-align: center;
}

@media (max-width: 560px) {
    #titulo-principal {
        font-size: 2.5em;
    }
}

header {
    background-color: var(--cor-rosa);
    width: 100%;   
}

.titulo {
    max-width: 100%;
    margin: auto;
    padding: 20px;
    text-shadow: 4px 4px 2px white;   
}

nav {
    display: flex;
    justify-content: center;
    background-color: var(--cor-azul-escuro1);
    box-shadow: 0px -1px 10px 1px var(--cor-verde-claro);
}

nav .navegation-link {
    display: flex;
    justify-content: center;
    font-size: 1.2em;
    font-weight: bolder;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 5px; 
}

.navegation-link:hover {
    background-color: var(--cor-verde-claro);
    color: var(--cor-azul-escuro2);
    border-radius: 10px;
}

main {
    margin: auto;
    max-width: 900px;
    
}

.section {
    background-color: rgba(255, 255, 255, 0.936);
    max-width: 900px;
    margin: 10px;
    padding: 20px;
    text-align: center;
    font-size: 1.2em;
    font-weight: bolder;
    border-radius: 10px;
    box-shadow: 2px 2px 15px black;
    overflow-wrap: break-word;
}

#section1 a {
    color: var(--cor-azul-escuro1);
    
}

#titulo-nivel1 {
    background-color: var(--cor-azul-escuro2);
    color: #05C7F2;
    text-shadow: 2px 2px 10px var(--cor-azul-claro);  
}

#titulo-nivel2 {
    background-color: var(--cor-azul-escuro2);
    color: #05C7F2;
    text-shadow: 2px 2px 10px var(--cor-azul-claro);  
}

#section1 a:hover {
    text-decoration: underline;
}

#video1 {
    max-width: 100%;
    padding-bottom: 20px;
}

#section2 h1 {
   padding: 15px;
}

#section3 h2, h3, h4, p{
    padding: 10px;
}

#section3 h4 {
    background-image: linear-gradient(to right, transparent, var(--cor-verde-claro), transparent);
    max-width: 220px;
    margin: 20px auto;
}

#section3 a {
    color: var(--cor-rosa);
    line-height: 40px;
   
}

#section3 a:hover {
    text-decoration: underline;
}

.imagem {
    margin: auto;
    max-width: 500px;
}

.imagens {
    width: 100%;
}

footer {
    background-color: black;
    text-align: center;
    color: white;
}

footer a {
    color: #05F2DB;
}

footer a:hover {
    text-decoration: underline;
}

